<div class="row">
  <h2>Educación</h2>
  <div class="col-lg-12">
    <ul> <h3>Educación 1</h3>
      <h4>UBA</h4>
      <li><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptates aperiam sunt consequatur quas, assumenda harum architecto enim quos soluta rerum quis doloribus quae quibusdam, id nihil facere cupiditate magnam.</p></li>
      <h3>Educación 2</h3>
      <h4>UNA</h4>
      <li><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptates aperiam sunt consequatur quas, assumenda harum architecto enim quos soluta rerum quis doloribus quae quibusdam, id nihil facere cupiditate magnam.</p></li>
      <h3>Educación 3</h3>
      <h4>ISPC</h4>
      <li><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptates aperiam sunt consequatur quas, assumenda harum architecto enim quos soluta rerum quis doloribus quae quibusdam, id nihil facere cupiditate magnam.</p></li>
    </ul>
  </div>
</div>
<hr>
