<div class="row">
   <h2>Habilidades</h2>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
      [percent]="80"
      [radius]="100"
      [showUnits]="false"
      [imageSrc]="'../../../assets/html.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'blue'"
      [animation]="true"
      [animationDuration]="1200"
      [outerStrokeGradient]="false"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
      [percent]="60"
      [radius]="100"
      [showUnits]="false"
      [imageSrc]="'../../../assets/CSS.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="80"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'blue'"
      [animation]="true"
      [animationDuration]="1200"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
      [percent]="60"
      [radius]="100"
      [showUnits]="false"
      [imageSrc]="'../../../assets/js.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'blue'"
      [animation]="true"
      [animationDuration]="1200"
></circle-progress>
</div>
<br><br><br><br><br><br><br><br><br><br>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
      [percent]="60"
      [radius]="100"
      [showUnits]="false"
      [imageSrc]="'../../../assets/Python.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'blue'"
      [animation]="true"
      [animationDuration]="1200"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
      [percent]="60"
      [radius]="100"
      [showUnits]="false"
      [imageSrc]="'../../../assets/github2.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'blue'"
      [animation]="true"
      [animationDuration]="1200"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
      [percent]="60"
      [radius]="100"
      [showUnits]="false"
      [imageSrc]="'../../../assets/Ingles.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showSubtitle]="false"
      [outerStrokeWidth]="14"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'blue'"
      [animation]="true"
      [animationDuration]="1200"
></circle-progress>
<br><br><br><br><br>
</div>
<hr>
</div>
