<div class="row">
   <h2>Habilidades</h2>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [imageSrc]="'../../../assets/html.png'"
  [showImage]="true"
  [imageHeight]="80"
  [imageWidth]="80"
  [showSubtitle]="false"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="1"
  [outerStrokeColor]="'blue'"
  [innerStrokeColor]="'blue'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [imageSrc]="'../../../assets/CSS.png'"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="80"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="1"
  [outerStrokeColor]="'blue'"
  [innerStrokeColor]="'blue'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [imageSrc]="'../../../assets/js.png'"
  [showImage]="true"
  [imageHeight]="80"
  [imageWidth]="80"
  [showSubtitle]="false"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="1"
  [outerStrokeColor]="'blue'"
  [innerStrokeColor]="'blue'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="container mt-3">
  <h3>Ingles</h3>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div>
  </div>
</div>

</div>
<br><br><br>
<hr>
