<div class="row">
  <h2>Proyectos</h2>
  <div class="container">
    <div class="col-sm-12 col-md-7 col-lg-7 texto-proyecto">
    <h3>Portfolio Web</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, impedit incidunt. Sapiente velit reiciendis voluptatibus, aliquam cumque minima dolore. Quis quod reiciendis corrupti deleniti. Excepturi id ex suscipit voluptatum fugiat?z</p>
    </div>
    <div class=" col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen-proyecto">
      <img src="../../../assets/Proyecto-portfolio.jpg" alt="proyecto" class="img-fluid img-pro">
    </div>
<br><br><br><br><br>
  </div>

</div>


