  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/perfil.jpg" alt="imagen-perfil" class="img-fluid" id="imagen-perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="datos">
      <h4 class="nombre">{{persona.nombre}} {{persona.apellido}}</h4>
      <h6> <img src="../../../assets/location pin_16.png"> Buenos Aires, Argentina</h6>
      <h6 style="display:flex"> <img src="../../../assets/email_16.png" class="img-fluid">ariasdiego027@gmail.com</h6>
      <h6><a href="#"> <img src="../../../assets/curriculum_16.png">Curriculum Vitae</a></h6>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-7 offset-md-1 col-lg-7 offset-lg-1">
      <div>
        <h2>Acerca de mí</h2>
        <p>Lorem, ipsum dolor sit amet cnsectetur adipisicing elit. Ducimus excepturi ipsa distinctio at eveniet labore repellendus, numquam praesentium voluptates minus quae alias! Dicta maiores quam vero enim rem temporibus possimus!</p>
      </div>
    </div>
  </div>
  <hr>

